<div id="kt_app_footer" class="app-footer py-2 py-lg-4">
    <div class="app-container container-xxl d-flex flex-column flex-md-row flex-center flex-md-stack">
        <div class="text-dark order-2 order-md-1">
            <span class="text-muted fw-semibold me-1">{{ 'now'|date('Y') }} &copy; Tous droits réservés</span>
            <a href="{{ path('home') }}" target="_blank" class="text-gray-800 text-hover-primary">StayFocused&Co</a>
        </div>
        <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
            <li class="menu-item">
                <a href="https://www.stayfocusedandco.fr/politique-de-confidentialite" target="_blank" class="menu-link px-2">🍪 & Confidentialité</a>
            </li>
            <li class="menu-item">
                <a href="https://www.stayfocusedandco.fr/cgs" target="_blank" class="menu-link px-2">CGS</a>
            </li>
            <li class="menu-item">
                <a href="https://www.stayfocusedandco.fr/mentions-legales" target="_blank" class="menu-link px-2">Mentions Légales</a>
            </li>
        </ul>
    </div>
</div>
